body {
  background-color: #FAFAFA;
}

#navbar {
  background-color: #254673;
  
  >ul { 
    white-space: nowrap;

    >li {
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;

        >ul {
          >li {
            display: block;
          }
        }

    }
  }
}

.hacks {

}

.hack {
  list-style: none;
  background-color: $lightblue;

  .hack-heading {
    background-color: #254673;
  }
  .hack-body {

  }
  .hack-footer {

  }
}


.comments {
  

}

.comment {

}

#profile-bar {
  background-color: #5599CC;
}
