/*--------------------------

--------------------------*/

ul.no-bullet {
  list-style: none;
  padding-left: 0em;
  vertical-align: text-top;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  rows: 10;
}

hr.horizontal-divider {
  margin: 5px 0px;
}

/*--------------------------

--------------------------*/

body {
  > #gradiented.container-fluid {
    background-image: linear-gradient(#DDD, $lightgreen 90%, $darkgreen);
  }  
}

footer {
  background-color: $darkgreen;
  padding: 1em 0;
}

header {
  background-image: image-url("header.png");
}

#navbar {
  width: 100%;
  background-color: $darkgreen;
  
  >ul { 
    white-space: nowrap;

    >li {
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;


        >ul {
          >li {
            display: block;
          }
        }

    }
  }
}


.navbar-nav {
  > li {
    > a {
      color: $navbar-text;

      &:hover {
        color: $darkgreen;
      }
    }
  }
}


#sidebar-one {

  .sidebar-element {    
    border-color: $lightgreen;

    .sidebar-element-header {
      text-align: center;
      background-color: $darkgreen;

      padding: 0.25em 0em;
    }

    .sidebar-element-body {
      background-color: #FFF;
    }
  }

  #sidebar-categories {

  }
  #sidebar-sidebar-ad {

  }
  #sidebar-recent-comments {

  }
  #sidebar-follow {

  }
}



/* Login */
#social-authentication-buttons {
  margin: 0 0 15px;
}

#social-follow-buttons {
  .social-share-button {

  }  
}


#social-share-buttons {
  .social-share-button {

  }  
}



.hacks {

}

.hack {
  list-style: none;
  border-color: $darkgreen;

  .close {

  }
  .hack-voting {
    
  }  
  .hack-body {

  }
  .hack-footer > * {
    display: inline-block;
  }
}

.favorite-link {
  a {
    .star-image {
      display: inline-block;
      width: 14px;
      height: 14px;
   
      background-image: image-url("star-off.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.favorite-link {
  a.favorited {
    .star-image {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: image-url("star-on.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}


.comments {
  

}

#stats {
  ul {
    display: inline-block;

  }
}

#profile-bar {
  ul{
    margin: 1em 0;

    background-color: $darkgreen;

    whites-pace: no-wrap;
    li.active a {
      color: $darkgreen;
    }

    a { 
      color: #FFF;
    }

    a:hover {
      color: $darkgreen;
    }
  }
}
