textarea {
  min-width: 100%;
  max-width: 100%;
  rows: 10;
}

hr.horizontal-divider {
  margin: 5px 0px;
}

body {
  > .container-fluid {
    background-image: linear-gradient(#EEE, $gradient_darkblue 80%, $darkblue);
  }
  
}

footer {
  background-color: $darkblue;
}

header {


}

#navbar {
  background-color: $darkblue;
  
  >ul { 
    white-space: nowrap;

    >li {
      float: none;
      display: inline-block;
      *display: inline;
      *zoom: 1;

        >ul {
          >li {
            display: block;
          }
        }

    }
  }
}

#sidebar-one {

  .sidebar-element {    
    border-color: $lightblue;

    .sidebar-element-header {
      text-align: center;
      background-color: $lightblue;
    }

    .sidebar-element-body {
      background-color: #FFF;
    }
  }

  #sidebar-categories {

  }
  #sidebar-sidebar-ad {

  }
  #sidebar-recent-comments {

  }
  #sidebar-follow {

  }
}



/* Login */
#social-authentication-buttons {
  margin: 0 0 15px;
}

.hacks {

}

.hack {
  list-style: none;
  background-color: $lightblue;

  .close {

  }
  .hack-voting {
    
  }  
  .hack-body {

  }
  .hack-footer > * {
    display: inline-block;
  }
}

.favorite-link {
  a {
    .star-image {
      display: inline-block;
      width: 14px;
      height: 14px;
   
      background-image: url("star-off.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.favorite-link {
  a.favorited {
    .star-image {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-image: url("star-on.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

#social-share-buttons {
  .social-share-button {

  }  
}

.comments {
  

}

ul#profile-bar {
  background-color: #5599CC;

  whites-pace: no-wrap;
  li.active a {
    color: #428BCA;
  }

  a { 
    color: #FFF;
  }

  a:hover {
    color: #2A6496;
  }
}

