/**************************
RESPONSIVE CUTOFF WIDTHS
**************************/

/*----------------------------------------
ONLY xs devices (phones, 1px to 767px) (doesn't cascade)
----------------------------------------*/
/*@media only screen and (max-width: $screen-xs-max) { 
  
}*/


/*--------------------------------------------------------------------------------*/


/*----------------------------------------
xs is default. Smaller sizes cascade to larger sizes. Flow structure.
----------------------------------------*/

main {
  min-height: 1000px;
}

.hide-responsive {
  
  display: none;
}

footer {
  .col-xs-12 {
    text-align: center;
    padding: 1em 0;
  }
}

/*----------------------------------------
sm devices (tablets, 748px and up)
----------------------------------------*/
@media only screen and (min-width: $screen-sm){ 

  .hide-responsive {
    display: initial;
  }

  footer {
    .col-xs-12 {
      text-align: left;
      padding: 1em 0;
    }
  }

}


/*----------------------------------------
md devices (desktops, 992px and up)
----------------------------------------*/
@media only screen and (min-width: $screen-md){
  
}

/*----------------------------------------
lg devices (large desktops, 1200px and up)
----------------------------------------*/
@media only screen and (min-width: $screen-lg){ 


}


/*----------------------------------------
Misc touchups
----------------------------------------*/

/*  Very useful pattern  for spacing collections */
/* 
@media (max-width: 991px) { 
  [class*="col-"]:not(:first-child){
      margin-top: 40px;
  }
}
*/