/**************************
GENERAL VARIABLES
**************************/

/*----------
Mixins - Dimensions
----------*/

/* 
Responsive widths
*/



/*----------
Mixins - Positioning
----------*/




/*----------
Mixins - Colors, Styling
----------*/

$lightgreen: #CEF7CE;
$mediumgreen: #448877;
$darkgreen: #358336;
$darkdarkgreen: #113011;

$offwhite: #EEE;
$header-font-weight: 600;

@mixin standard-gradient {
  background: linear-gradient($lightgreen, $darkgreen 40%, $darkdarkgreen + #222222);
}

