/**************************
GENERAL VARIABLES
**************************/

/*----------
Mixins - Dimensions
----------*/

/* 
Responsive widths
*/



/*----------
Mixins - Positioning
----------*/




/*----------
Mixins - Colors, Styling
----------*/

$lightgreen: #C9F7DE;
$darkgreen: #359356;

$navbar-text: #DDD;

