/**************************
GENERAL VARIABLES
**************************/

/*----------
Mixins - Dimensions
----------*/

/* 
Responsive widths
*/



/*----------
Mixins - Positioning
----------*/




/*----------
Mixins - Colors, Styling
----------*/

$lightblue: #C9DEF7;
$darkblue: #355693;

$gradient_lightblue: lighten($lightblue, 20%);
$gradient_darkblue: lighten($darkblue, 50%);

