aside#sidebar.col-sm-3
  = link_to "https://twitter.com/GhettoLifeHack_", class: "twitter-follow-button", data: { "show-count" => "false", dnt: "true" } do
    | Follow @GhettoLifeHack



  .fb-follow[ data-href="https://www.facebook.com/ghettolifehack" data-colorscheme="light" data-layout="standard" data-show-faces="true"]